:root {
    --color-principal: #d4a373; 
    --color-secundario: #faedcd; 
    --texto: #4a4a4a;
    --blanco: #ffffff;
    --dorado-marca: #d4af37;
    /* Paleta de Rosados */
    --rosado-fondo: #fff5f7;   /* Un fondo rosado casi blanco, muy elegante */
    --rosado-burbuja: #fce4ec; 
    --rosado-texto: #d81b60;   
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: var(--texto);
    line-height: 1.6;
}